.landing__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../img/landing/slide_01-l.webp) center/cover;

  @include rwd(mq-s-l) {
    // width: 30%;
  }
}

.container__headline {
  position: relative;
  @include flex(column, center, flex-start);
  gap: 3rem;
  width: 100%;
  height: 100%;
  margin: 5vh 0 0;
  padding: 0 15vw;
  z-index: 2;
  & > * {
    margin: 0;
    color: $clr-prime;
  }

  .headline__display {
    font-family: isidora-medium, sans-serif;
    font-size: 8rem;
    letter-spacing: 0.01em;
    line-height: 0.9;
  }

  .headline__h1 {
    line-height: 1.4;
  }

  @include rwd(mq-s-l) {
    gap: 0rem;
    padding: 0 2vw 0 20vw;

    .headline__display {
      margin: 5vh 0;
      font-size: 6rem;
    }

    .headline__h1 {
      font-size: 3rem;
    }
  }

  @include rwd(mq-m-p) {
    margin: 0;
    padding: 10vh 20vw 0;

    .headline__display {
      margin: 0;
      font-size: 13rem;
    }

    .headline__h1 {
      font-size: 4rem;
    }
  }

  @include rwd(mq-m-l) {
    padding: 0 0 0 25vw;

    .headline__display {
      margin-bottom: 5vh;
      font-size: 13rem;
    }

    .headline__h1 {
      font-size: 3.5rem;
      left: 0;
    }
  }

  @include rwd(mq-l) {
    padding: 0 0 0 50vh;

    .headline__display {
      margin: 3vh 0;
      font-size: 13rem;
    }

    .headline__h2 {
      line-height: 0;
      font-size: 4.5rem;
      text-align: right;
    }
  }
}

.container__background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  @include rwd(mq-s-l) {
    width: 40%;
  }

  .background__shadow {
    // display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    @include bg-color-overlay(#000, 0.3);
    z-index: 1;
  }

  .background__slideshow {
    @include flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slide__image {
      position: relative;
      display: none;
      width: 100%;
      height: 100%;
    }

    .slide__image img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 5000ms;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
