/* H E A D E R */
.header__main {
    position: relative;
    display: flex;
    width: 100vw;
    z-index: 90;

    & nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
}

/* B O D Y */
body {
    background: $clr-black url(../../img/daf_bg_main.webp) fixed;
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh; 

}

#main__website {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background: $clr-black url(../../img/daf_bg_main.webp) fixed;
    background-color: #fff;

}