// C A R D S
.card {
  @include card--mixin;
}

// Card Container
.card__container {
  @include flex(column);
  width: 100%;
  border: 0.2rem solid $clr-prime;
  border-radius: var(--card__border-radius);
  padding: 0;
  margin: 0;
  overflow: hidden;

  & .card__img--container {
    width: 100%;
    height: 20rem;
    overflow: hidden;
  }
  & .card__img {
    width: 100%;
  }

  & .card__headline {
    @include flex(column);
    position: relative;
    width: 100%;
    height: 40%;
    padding: 2rem 0;
    background-color: $clr-grey-dark;
  }

  & .card__h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  & .card__opener--arrow {
    align-self: flex-end;
    @extend .menu__icon--small;
    position: relative;
    right: 2rem;
  }

  & .card__teaser {
    display: none;
  }
}

// Card Content
.card__content {
  width: 100%;
  margin: 0 auto;
  height: auto;
  border: 0.2rem solid $clr-grey-light;
  border-top: 0;
  border-radius: 0 0 var(--card__border-radius) var(--card__border-radius);
  overflow: hidden;

  & .card__text {
    width: 95%;
    margin: 1em auto;
    transition: var(--transition);
  }

  & .card__closer {
    display: none;
    width: 100%;
    height: 5rem;
    background-color: $clr-prime;
    overflow: hidden;
    transition: var(--transition);
  }
  & .card__closer--arrow {
    height: 4rem;
    transform: rotate(-180deg);
  }
  .card__closer--show {
    @include flex;
  }
}

/* C A R D   S W I T C H */
// card Checkbox
.card__checkbox {
  display: none;
}

.card__label {
  cursor: pointer;
}

// Card Container
.card__checkbox:checked + .card__label {
  & .card__opener--arrow {
    transform: rotate(-180deg);
  }
}
// Card Content
.card__checkbox:not(:checked) ~ .card__content {
  border: none;
  & .card__text,
    .intext__link {
    font-size: 0;
  }

  & .card__closer {
    height: 0;
  }
}
