/* COLORS */
$clr-prime: var(--clr-prime);
$clr-prime-tr: var(--clr-prime-tr);
$clr-prime-dark: var(--clr-prime-dark);
$clr-prime-dark-tr: var(--clr-prime-dark-tr);
$clr-prime-light: var(--clr-prime-light);
$clr-contrast: var(--clr-contrast);
$clr-contrast-tr: var(--clr-contrast-tr);
$clr-grey-dark: var(--clr-grey-dark);
$clr-grey-dark-tr: var(--clr-grey-dark-tr);
$clr-grey-medium: var(--clr-grey-medium);
$clr-grey-medium-tr: var(--clr-grey-medium-tr);
$clr-grey-light: var(--clr-grey-light);
$clr-white: var(--clr-white);
$clr-black: var(--clr-black);


