/* F O N T   F A M I L Y */
@font-face {
    font-family: isidora;
    src: url(../fonts/isidora-regular.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-italic;
    src: url(../fonts/isidora-regularit.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-medium;
    src: url(../fonts/isidora-medium.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-medium-italic;
    src: url(../fonts/isidora-mediumit.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-semibold;
    src: url(../fonts/isidora-semibold.woff);
    font-display: swap;
}
@font-face {
    font-family: isidora-semibold-italic;
    src: url(../fonts/isidora-semiboldit.woff);
    font-display: swap;
}