/* I C O N S */
// Icons Big
$icon-big__size--s: var(--icon-big__size--s);
$icon-big__size--l: var(--icon-big__size--l);
$icon-big__padding: var(--icon-big__padding);
// Icons Small
$icon-small__size--s: var(--icon-small__size--s);
$icon-small__size--l: var(--icon-small__size--l);
// Menu Button Lines
$button-lines__padding: var(--button-lines__padding);

/* M E N U  A R E A */
// Menu Bar

// Menu Bars All
$menu-bars__margin: var(--menu-bars__margin);
$menu-bars__padding--top: var(--menu-bars__padding--top);


/* I N F O B O X E S */
$infobox__width: var(--infobox__width);
$infobox__border-radius: var(--infobox__border-radius);
$infobox__headline-padding: var(--infobox__headline-padding);

/* G U E S T B O X E S */
$guestbox__foto--border-radius: var(--guestbox__foto--border-radius);


/* S T Y L E S */
$box-shadow__hover: var(--box-shadow__hover);